<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include('head'); %>
</head>

<body class="bg-[#1B1A1A] overflow-x-hidden">
  <!-- Div pai que define as margens laterais -->
  <div class="flex flex-col h-full sm:mx-24 mx-4">
    <!-- Exibe o nome do usuário  -->
    <div class="my-8 text-2xl w-full h-8">
      <% if (user) { %>
        <h1 class="text-white">Olá, @<%= user %>!</h1>
        <% } %>
    </div>

    <!-- Seção de enviar comentário -->
    <div class="flex flex-col w-full rounded-xl bg-[#D9D9D9] text-white px-[5vw]">
      <form action="/insereComentario" method="POST" class="flex flex-col text-left justify-start items-start">
        <!-- Campo para digitar os comentários -->
        <textarea type="text" name="comentario" id="comentario"
          placeholder="Desabafe, comente, relate suas impressões do jogo. Aqui é um espaço aberto e seguro. Seu post pode ser anônimo, caso preferir."
          class="h-full w-full my-5 outline-none resize-none text-red-900 bg-transparent rounded-lg"></textarea>

        <div class="flex flex-row w-full h-15 justify-between">
          <!-- Checkbox para comentário anônimo -->

            <label class="relative inline-flex items-center cursor-pointer">
              <input
                type="checkbox"
                value="on"
                id="checkbox"
                name="checkbox"
                class="sr-only peer"
                checked
              />
              <div
                class="w-11 h-6 bg-gray-400 rounded-full peer peer-focus:ring-4 peer-checked:after:translate-x-full after:absolute after:top-3.5 after:left-[4px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red-800"
              ></div>
              <span class="ml-3 text-sm font-medium text-gray-900">
                Anônimo</span
              >
            </label>

            <button type="submit" class="py-2 px-0">
              <svg
                width="38"
                height="33"
                viewBox="0 0 46 41"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.6685 33.5482L13.5983 33.4843C13.3548 33.2341 13.2008 32.9105 13.1603 32.5637C13.1197 32.217 13.195 31.8665 13.3742 31.567L19.642 21.0636C19.801 20.7969 19.8781 20.4892 19.8636 20.179C19.8491 19.8688 19.7437 19.5697 19.5605 19.319L12.3409 9.44567C12.1332 9.16448 12.0245 8.82249 12.0316 8.47303C12.0387 8.12357 12.1612 7.78627 12.3801 7.51374C12.599 7.24121 12.9019 7.04877 13.2415 6.96641C13.5812 6.88406 13.9386 6.91642 14.258 7.05846L38.6702 17.8771C38.9595 17.9818 39.212 18.1684 39.3969 18.4143C39.5819 18.6602 39.6911 18.9546 39.7114 19.2616C39.7317 19.5686 39.6621 19.8748 39.5112 20.1429C39.3602 20.411 39.1344 20.6292 38.8614 20.7711L15.5641 33.8184C15.262 33.9865 14.9131 34.0511 14.5708 34.0023C14.2286 33.9535 13.9116 33.7941 13.6685 33.5482Z"
                  fill="#590101"
                />
              </svg>
            </button>
          </div>
        </form>
      </div>

      <!-- Seção de comentários realizados por outros usuários -->

      <div class="flex flex-col w-full h-3 border-2"></div>
      <br />

      <!-- Linha fina de divisão -->
      <div class="border-t border-white opacity-20"></div>
      <br />

      <!-- Exibe os comentários -->
      <% comentarios.forEach(function(comentario) { %>

      <div
        class="flex flex-col w-full h-40 rounded-xl my-3 bg-[#696969] text-white px-[5vw]"
      >
        <div class="border-4 my-7">
          <div class="border-2 h-14 overflow-auto">
            <div class="border 2 overflow-auto">
              <style>
                /* ===== Scrollbar CSS ===== */

                /* Chrome, Edge, and Safari */
                *::-webkit-scrollbar {
                  width: 12px;
                }

                *::-webkit-scrollbar-track {
                  background: #ffffff;
                }

                *::-webkit-scrollbar-thumb {
                  background-color: #991b1b;
                  border-radius: 10px;
                  border: 3px solid #ffffff;
                }
              </style>
              <h2 class="text-white">@<%= comentario.usuario%></h2>
              <p class="text-white"><%= comentario.comentario%></p>
            </div>
            <span class="ml-3 text-sm font-medium text-gray-900">
              Anônimo</span>
          </label>

          <button type="submit" class="py-2 px-0">
            <svg width="38" height="33" viewBox="0 0 46 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.6685 33.5482L13.5983 33.4843C13.3548 33.2341 13.2008 32.9105 13.1603 32.5637C13.1197 32.217 13.195 31.8665 13.3742 31.567L19.642 21.0636C19.801 20.7969 19.8781 20.4892 19.8636 20.179C19.8491 19.8688 19.7437 19.5697 19.5605 19.319L12.3409 9.44567C12.1332 9.16448 12.0245 8.82249 12.0316 8.47303C12.0387 8.12357 12.1612 7.78627 12.3801 7.51374C12.599 7.24121 12.9019 7.04877 13.2415 6.96641C13.5812 6.88406 13.9386 6.91642 14.258 7.05846L38.6702 17.8771C38.9595 17.9818 39.212 18.1684 39.3969 18.4143C39.5819 18.6602 39.6911 18.9546 39.7114 19.2616C39.7317 19.5686 39.6621 19.8748 39.5112 20.1429C39.3602 20.411 39.1344 20.6292 38.8614 20.7711L15.5641 33.8184C15.262 33.9865 14.9131 34.0511 14.5708 34.0023C14.2286 33.9535 13.9116 33.7941 13.6685 33.5482Z"
                fill="#590101" />
            </svg>
          </button>
        </div>
      </form>
    </div>

    <!-- Seção de comentários realizados por outros usuários -->

    <div class="flex flex-col w-full h-3"></div>
    <br />

    <!-- Linha fina de divisão -->
    <div class="border-t border-white opacity-20"></div>
    <br />

    <% comentarios.forEach(function(comentario) { %>

      <div class="flex flex-col w-full h-48 rounded-xl my-3 bg-[#696969] text-white px-[5vw]">
        <div class="h-full flex flex-col my-7">
          <div class="h-full flex flex-col overflow-y-auto overflow-x-hidden ">
            <h2 class="text-white mb-2 font-bold">@<%= comentario.user%>
            </h2>
            <p class="h-16 text-white break-words mr-4">
              <%= comentario.comentario%>
            </p>
          </div>

          <div class="flex flex-row w-full h-10 justify-end">
            <button type="submit">
              <svg width="30" height="30" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19.4999 21.125C20.3974 21.125 21.1249 20.3975 21.1249 19.5C21.1249 18.6025 20.3974 17.875 19.4999 17.875C18.6025 17.875 17.8749 18.6025 17.8749 19.5C17.8749 20.3975 18.6025 21.125 19.4999 21.125Z"
                  fill="#231F20" />
                <path
                  d="M25.9999 21.125C26.8973 21.125 27.6249 20.3975 27.6249 19.5C27.6249 18.6025 26.8973 17.875 25.9999 17.875C25.1024 17.875 24.3749 18.6025 24.3749 19.5C24.3749 20.3975 25.1024 21.125 25.9999 21.125Z"
                  fill="#231F20" />
                <path
                  d="M12.9999 21.125C13.8974 21.125 14.6249 20.3975 14.6249 19.5C14.6249 18.6025 13.8974 17.875 12.9999 17.875C12.1025 17.875 11.3749 18.6025 11.3749 19.5C11.3749 20.3975 12.1025 21.125 12.9999 21.125Z"
                  fill="#231F20" />
                <path
                  d="M30.9887 8.01135C28.3224 5.32766 24.8034 3.65832 21.0382 3.29112C17.2731 2.92391 13.4978 3.88186 10.3632 5.99981C7.22863 8.11776 4.93123 11.263 3.86706 14.8932C2.8029 18.5235 3.03866 22.4113 4.5337 25.8863C4.68952 26.2093 4.74065 26.5729 4.67995 26.9263L3.24995 33.8001C3.19485 34.0636 3.2061 34.3367 3.28269 34.5948C3.35927 34.853 3.49879 35.088 3.6887 35.2788C3.84438 35.4334 4.02974 35.5548 4.23362 35.6358C4.43749 35.7168 4.65565 35.7557 4.87495 35.7501H5.19995L12.1549 34.3526C12.5084 34.3101 12.8669 34.3605 13.1949 34.4988C16.67 35.9939 20.5578 36.2296 24.1881 35.1655C27.8183 34.1013 30.9635 31.8039 33.0815 28.6693C35.1994 25.5348 36.1574 21.7595 35.7902 17.9943C35.423 14.2292 33.7536 10.7101 31.07 8.04385L30.9887 8.01135ZM32.3374 21.5963C32.0197 23.5366 31.2661 25.3795 30.1332 26.9863C29.0004 28.5932 27.5178 29.9222 25.7971 30.8732C24.0764 31.8243 22.1623 32.3727 20.1991 32.4772C18.2358 32.5817 16.2744 32.2395 14.4624 31.4763C13.8198 31.203 13.1295 31.0594 12.4312 31.0538C12.1262 31.056 11.8218 31.0832 11.5212 31.1351L6.9387 32.0613L7.86495 27.4788C8.04943 26.4864 7.9305 25.4614 7.5237 24.5376C6.76058 22.7257 6.41838 20.7643 6.52285 18.801C6.62731 16.8377 7.17572 14.9237 8.12681 13.203C9.07789 11.4823 10.4069 9.9997 12.0137 8.86683C13.6206 7.73396 15.4635 6.98031 17.4037 6.6626C19.4403 6.32836 21.5271 6.4838 23.4917 7.11607C25.4563 7.74834 27.2421 8.83926 28.7015 10.2986C30.1608 11.7579 31.2517 13.5437 31.884 15.5083C32.5162 17.4729 32.6717 19.5598 32.3374 21.5963Z"
                  fill="#231F20" />
              </svg>
            </button>
            <button type="submit" class="like-button ml-2" data-id="1" id="like" name="like"> <svg class="heart-empty"
                width="28" height="23" viewBox="0 0 34 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M17 29C16.7807 29.0013 16.5632 28.9593 16.3602 28.8763C16.1571 28.7934 15.9724 28.6712 15.8167 28.5167L2.86668 15.55C1.24228 13.9087 0.331116 11.6926 0.331116 9.38336C0.331116 7.07408 1.24228 4.85807 2.86668 3.2167C4.50378 1.58421 6.7214 0.66748 9.03334 0.66748C11.3453 0.66748 13.5629 1.58421 15.2 3.2167L17 5.0167L18.8 3.2167C20.4371 1.58421 22.6547 0.66748 24.9667 0.66748C27.2786 0.66748 29.4962 1.58421 31.1333 3.2167C32.7577 4.85807 33.6689 7.07408 33.6689 9.38336C33.6689 11.6926 32.7577 13.9087 31.1333 15.55L18.1833 28.5167C18.0276 28.6712 17.8429 28.7934 17.6399 28.8763C17.4368 28.9593 17.2194 29.0013 17 29ZM9.03334 4.00003C8.3278 3.99683 7.62864 4.13366 6.97636 4.40259C6.32407 4.67151 5.73163 5.06719 5.23334 5.56669C4.22678 6.57856 3.66174 7.94777 3.66174 9.37503C3.66174 10.8023 4.22678 12.1715 5.23334 13.1834L17 24.9667L28.7667 13.1834C29.7732 12.1715 30.3383 10.8023 30.3383 9.37503C30.3383 7.94777 29.7732 6.57856 28.7667 5.56669C27.7395 4.59621 26.3798 4.05552 24.9667 4.05552C23.5535 4.05552 22.1939 4.59621 21.1667 5.56669L18.1833 8.56669C18.0284 8.72291 17.8441 8.8469 17.641 8.93151C17.4379 9.01613 17.22 9.05969 17 9.05969C16.78 9.05969 16.5621 9.01613 16.3591 8.93151C16.156 8.8469 15.9716 8.72291 15.8167 8.56669L12.8333 5.56669C12.3351 5.06719 11.7426 4.67151 11.0903 4.40259C10.438 4.13366 9.73888 3.99683 9.03334 4.00003Z"
                  fill="#231F20" />
              </svg>
              <svg class="heart-filled hidden" width="28" height="23" viewBox="0 0 34 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.9833 29.2842C16.7639 29.2855 16.5465 29.2434 16.3434 29.1605C16.1404 29.0776 15.9557 28.9553 15.8 28.8009L2.84995 15.8342C1.22556 14.1928 0.314392 11.9768 0.314392 9.66754C0.314392 7.35826 1.22556 5.14225 2.84995 3.50087C4.48706 1.86839 6.70467 0.95166 9.01662 0.95166C11.3286 0.95166 13.5462 1.86839 15.1833 3.50087L16.9833 5.30087L18.7833 3.50087C20.4204 1.86839 22.638 0.95166 24.95 0.95166C27.2619 0.95166 29.4795 1.86839 31.1166 3.50087C32.741 5.14225 33.6522 7.35826 33.6522 9.66754C33.6522 11.9768 32.741 14.1928 31.1166 15.8342L18.1666 28.8009C18.0109 28.9553 17.8262 29.0776 17.6231 29.1605C17.4201 29.2434 17.2026 29.2855 16.9833 29.2842ZM28.75 5.85088C28.75 20.8016 17.6356 24.982 16.9833 25.2509C16.331 25.5198 9.3051 18.1259 8.80682 18.6254C20.5735 38.0254 3.64501 8.23196 3.64501 9.65921C61.4477 13.4675 4.21005 12.4557 5.21662 13.4675L16.9833 25.2509L14.5 27L0.630347 12C13.4368 12.3425 24.8817 14.0788 24.8817 12.6515C24.8817 11.2243 11.0736 23 28.75 5.85088C27.7227 4.88039 20.1965 24.388 18.7833 24.388C17.3701 24.388 22.1772 4.88039 21.15 5.85087L18.1666 8.85087C18.0117 9.00709 28.75 13.4675 17.6243 9.21569C17.4212 9.30031 17.2033 9.34387 16.9833 9.34387C16.7633 9.34387 16.5454 9.30031 16.3423 9.21569C16.1392 9.13108 15.1833 23.4483 15.8 8.85087L11.0736 15.8342C10.5753 15.3347 20.6523 10.3852 20 10.1163C22.8741 50.6644 -3.5 0.95166 28.75 5.85088Z"
                  fill="#231F20" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <% }) %>
  </div>

  <script src="../backend/controller/usuarioController.js"></script>
</body>

</html>